*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7f5;
color:#333;
}

header{
background:#0d7a3d;
color:#fff;
padding:15px 40px;
}

.top{
display:flex;
align-items:center;
gap:20px;
}

.logo{
width:90px;
height:90px;
border-radius:50%;
background:#fff;
padding:5px;
}

.top h1{
font-size:34px;
}

.top p{
font-size:18px;
margin-top:5px;
}

nav{
margin-top:20px;
display:flex;
gap:25px;
flex-wrap:wrap;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

.hero{
padding:70px 20px;
text-align:center;
background:linear-gradient(#dff6df,#ffffff);
}

.hero h2{
font-size:42px;
color:#0d7a3d;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:900px;
margin:auto;
line-height:1.8;
}

.btn{
display:inline-block;
margin-top:30px;
background:#ff9800;
color:white;
padding:15px 35px;
text-decoration:none;
font-size:20px;
border-radius:8px;
font-weight:bold;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
padding:50px;
}

.card{
background:white;
padding:25px;
border-radius:12px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card h3{
color:#0d7a3d;
margin-bottom:15px;
}

footer{
background:#222;
color:white;
text-align:center;
padding:25px;
}
  .btn2{
display:inline-block;
margin-left:15px;
padding:15px 35px;
background:#25D366;
color:white;
text-decoration:none;
border-radius:8px;
font-size:20px;
font-weight:bold;
}

.btn2:hover{
background:#1ea952;
}
hero-slider{
    width:100%;
    margin:0;
    overflow:hidden;
}

.hero-slider img{
    width:100%;
    height:auto;
    display:block;
    object-fit:contain;
}
@media (max-width:768px){

header{
padding:15px;
}

.top{
flex-direction:column;
text-align:center;
}

.logo{
width:70px;
height:70px;
}

.top h1{
font-size:26px;
}

.top p{
font-size:16px;
}

nav{
justify-content:center;
gap:12px;
}

nav a{
font-size:16px;
}

.hero{
padding:0;
}

.hero-slider img{
width:100%;
height:auto;
display:block;
}

.cards{
padding:20px;
grid-template-columns:1fr;
}

.btn,
.btn2{
display:block;
width:90%;
margin:15px auto;
text-align:center;
}

}
